body {
  color: white;
}

.div1 {
  background-color:#F012BE;
  height: 100%;
}
.div2 {
  background-color: #39CCCC;
  height: 500px;
}

.login-container {
  background: rgba(1, 1, 1, 0.3);
  border-radius:5px;
  margin-top: 0px;
  height: 85%;
}

.btn {
  width: 200px;
}
